hdfs
zipline
sparkmagic
ipywidgets==5.2.3
envoy
pytesseract
pyocr
zmq
zerorpc
implicit
fastfm
pyquery
grab
peewee
pony
xlwt
xlrd
xlsxwriter
openpyxl
sympy
yt
pydy
theano
keras
six
gevent
paramiko
pytz
line_profiler
memory_profiler
cffi
toolz
cytoolz
marshmallow
boto3
pynacl
statsmodels
gensim
textblob
fuzzywuzzy
textract
mechanicalsoup
scrapy
fabric
future